@charset 'utf-8';
////
/// 通用全局样式
///
/// @group common
/// @author xjq
////
// atomic classes (原子类)
.oh {
  overflow: hidden;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.pointer {
  cursor: pointer;
}

.line-through {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}

.hide {
  display: none;
}

.show {
  display: block;
}

// clear float (清浮动)
.clear {
  font-size: 0;
  clear: both;
  overflow: hidden;
  height: 0;
}

.clearfix {
  zoom: 1;
  &::after {
    display: block;
    clear: both;
    height: 0;
    content: '\0020';
  }
}
