.el-header,
.el-footer {
  line-height: 60px;

  text-align: center;

  color: #333;
  background-color: #b3c0d1;
}
.el-aside {
  color: #333;
  background-color: #d3dce6;
}

.el-main {
  color: #333;
  background-color: #e9eef3;
}

.el-table {
  width: 100%;
  min-height: 500px;
}
